function Game.new 0
push constant 3
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push argument 0
call List.getData 1
pop this 2
push constant 0
pop this 1
push pointer 0
return
function Game.dispose 0
push argument 0
pop pointer 0
push this 2
call Square.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.moveSquare 0
push argument 0
pop pointer 0
push this 1
push constant 1
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push this 2
call Square.moveUp 1
pop temp 0
label IF_FALSE0
push this 1
push constant 2
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 2
call Square.moveDown 1
pop temp 0
label IF_FALSE1
push this 1
push constant 3
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push this 2
call Square.moveLeft 1
pop temp 0
label IF_FALSE2
push this 1
push constant 4
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push this 2
call Square.moveRight 1
pop temp 0
label IF_FALSE3
push constant 0
pop this 1
push constant 200
call Sys.wait 1
pop temp 0
push constant 0
return
function Game.run 4
push argument 0
pop pointer 0
push constant 0
pop local 0
label WHILE_EXP0
push local 0
not
not
if-goto WHILE_END0
push pointer 0
call Game.halt 1
pop local 2
push local 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 4
call String.new 1
push constant 104
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 116
call String.appendChar 2
call Output.printString 1
pop temp 0
push this 2
call Square.getY 1
pop local 3
push this 2
call Square.dispose 1
pop temp 0
push this 0
call List.getNext 1
pop this 0
push this 0
call List.getData 1
push constant 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push this 0
call List.getData 1
pop this 2
push local 3
call Util.fullLine 1
pop local 1
push local 1
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push local 3
call Util.redraw 1
pop temp 0
label IF_FALSE2
label IF_FALSE1
label IF_FALSE0
push pointer 0
call Game.moveWithKey 1
pop temp 0
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.eraseLine 0
push argument 0
pop pointer 0
push constant 0
return
function Game.moveWithKey 1
push argument 0
pop pointer 0
call Keyboard.keyPressed 0
pop local 0
push local 0
push constant 131
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 1
pop this 1
label IF_FALSE0
push local 0
push constant 133
eq
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 2
pop this 1
label IF_FALSE1
push local 0
push constant 130
eq
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 3
pop this 1
label IF_FALSE2
push local 0
push constant 132
eq
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 4
pop this 1
label IF_FALSE3
push pointer 0
call Game.moveSquare 1
pop temp 0
push constant 0
return
function Game.halt 3
push argument 0
pop pointer 0
push this 2
call Square.getY 1
push constant 14
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
return
label IF_FALSE0
push this 2
call Square.getX 1
push this 2
call Square.getY 1
call Util.collide 2
pop local 1
push local 1
return
