function Square.new 0
push constant 5
call Memory.alloc 1
pop pointer 0
push argument 0
pop this 0
push this 0
call Unit.new 1
pop this 1
push this 0
push constant 1
add
call Unit.new 1
pop this 2
push this 0
push constant 512
add
call Unit.new 1
pop this 3
push this 0
push constant 513
add
call Unit.new 1
pop this 4
push pointer 0
return
function Square.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
